<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_layout.css' %}">
    <title></title>
  </head>
  <body>
    <div id="wrap">
        <div id="header">
            <div id="header_box">
                <a href="" class="header_img" id="log.naver"><img src="{% static 'image/d2_logo.png'%}"></a>
            </div>
        </div>
        <div id="container">
              <div id="login_container">
                  <form action="" method="POST">
                      {% csrf_token %}
                      <fieldset class ="login_form">
                          <legend class="blind">로그인</legend>
                          <div class="id_area">
                              <div class="input_row" id="id_area">
                                  <span class="input_box">
                                      <input type="text" class="input_form"id={{form.username.id_for_label}}" maxlength="15" name="{{form.username.html_name}}" placeholder="아이디">
                                  </span>
                              </div>
                          </div>
                          <div class="pw_area">
                            <div class="input_row" id="pw_area">
                                <span class="input_box">
                                    <input type="password" class="input_form" id="{{form.password.id_for_label}}" name="{{form.password.html_name}}" placeholder="비밀번호" >
                                </span>
                            </div>
                          </div>
                          <input type="submit" title="로그인" value="로그인" class="btn_login">
                      </fieldset>
                  </form>
                  <div class="signup">
                      <a target="_blank" id="join" href="{%url 'accounts:signup' %}">회 원 가 입</a>
                  </div>
              </div>
        </div>

        <div id="footer">
              <ul>
                  <li>
                      <a target="_blank" href="http://www.naver.com/rules/service.html" id="fot.agreement">이용약관</a>
                  </li>
                  <li>
                      <strong>
                      <a target="_blank" href="http://www.naver.com/rules/privacy.html" id="fot.privacy">개인정보처리방침</a>
                      </strong>
                  </li>
                  <li>
                      <a target="_blank" href="http://www.naver.com/rules/disclaimer.html" id="fot.disclaimer">책임의 한계와 법적고지</a>
                  </li>
                  <li>
                      <a target="_blank" href="https://help.naver.com/support/service/main.nhn?serviceNo=532" id="fot.help">회원정보 고객센터</a>
                  </li>
              </ul>
              <div class="copyright">
                  <p>
                      <span>Copyright</span>
                      ©
                      <a href="https://www.navercorp.com/" target="_blank">NAVER Corp.</a>
                      <span>All Rights Reserved.</span>
                  </p>
              </div>
        </div>
    </div>

  </body>
</html>
